<% include layout/head.ejs %>
<main>
    <div class="section">
        <div class="section__title">Videos list</div>
        <div class="section__body">
            <% videoList.forEach(video => { %>

                <div class="section__item" onclick="location.href = '/room?video=<%- video %>'">
                    <img src="/images/video-thumbnail.jpg" alt="">
                    <span><%= video %></span>
                </div>

            <% }) %>
        </div>
    </div>
</main>

<% include layout/footer.ejs %>
