<% include layout/head.ejs %>

<h4>Videos list</h4>

<ul>
    <% videoList.forEach(video => { %>
        <li><a href="/room?video=<%= video %>"><%= video %></a></li>
    <% }) %>
</ul>

<% include layout/footer.ejs %>
